$cAccent: salmon;
$cBlack: #242423;
$cGray: #5F5F5F;



// html, body {
//   font-size: 9px;
//   height: 100%;
// }

// body {
//   background: lighten($cAccent, 10%);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
// }
 
.wrapper{
  width: 64rem;
  height: 40rem;
  box-shadow:
    0 0 0.8rem 0.3rem rgba(darken($cAccent, 40%), 0.1),
    0 2rem 3rem -1rem rgba(darken($cAccent, 40%), 0.3);
  overflow: hidden;
  border-radius: 0.8rem;
  position: relative;
  display: flex;
}

.map-wrapper{
  width: 76%;
  height: 100%;
  margin-right: -7rem;
}

.map{
  width: 100%;
  height: 100%;
}

img{
  object-fit: cover;
  height: 110%
}

.map-bg {
  position: absolute;
  z-index: 1;
  left: 34%;
  top: 0;
  width: 12rem;
  height: 100%;
  pointer-events: none;
  background-image: linear-gradient(
    to right,
    hsl(0, 0%, 100%) 0%,
    hsla(0, 0%, 100%, 0.987) 8.1%,
    hsla(0, 0%, 100%, 0.951) 15.5%,
    hsla(0, 0%, 100%, 0.896) 22.5%,
    hsla(0, 0%, 100%, 0.825) 29%,
    hsla(0, 0%, 100%, 0.741) 35.3%,
    hsla(0, 0%, 100%, 0.648) 41.2%,
    hsla(0, 0%, 100%, 0.55) 47.1%,
    hsla(0, 0%, 100%, 0.45) 52.9%,
    hsla(0, 0%, 100%, 0.352) 58.8%,
    hsla(0, 0%, 100%, 0.259) 64.7%,
    hsla(0, 0%, 100%, 0.175) 71%,
    hsla(0, 0%, 100%, 0.104) 77.5%,
    hsla(0, 0%, 100%, 0.049) 84.5%,
    hsla(0, 0%, 100%, 0.013) 91.9%,
    hsla(0, 0%, 100%, 0) 100%
  );
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  transition-property: animation-name, transform;
  transform: scaleX(25);
  transform-origin: left;
  will-change: animation-name, transform;
}

.list{
  $self: &;

  width: 35%;
  height: 100%;
  margin: 0;
  padding: 3rem 0 0 2.8rem;
  list-style: none;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  
  &:after{
    content: '';
    position: absolute;
    left: 2.8rem;
    top: 0;
    width: calc(100% - 2.8rem);
    height: 3rem;
    background-color: #fff;
    z-index: 3;
  }
}

.list-item{
  $self: &;

  padding: 0 0 0.8rem;
  margin: 0;
  position: relative;
  background-color: #fff;
  position: relative;
  z-index: 2;

  #{ $self }__content{
    overflow: hidden;
    transition-property: opacity, transform, max-height;
    transition-duration: 450ms, 600ms, 600ms;
    transition-timing-function: ease-in-out;
    will-change: animation-name, opacity, transform, max-height;
    max-height: 0;
    opacity: 0;
    transform: translateY(-7rem);
  }
  
  #{ $self }__title{
    margin: 0 0 0 -0.4rem;
    font-size: 1.6rem;
    color: $cGray;
    font-weight: 800;
    z-index: 2;
    line-height: 1.6;
    position: relative;
    color: $cBlack;
    will-change: z-index;
    
    &-text{
      padding: 0 0.6rem 0;
      display: inline;
      display: inline-block;
      position: relative;
      z-index: 1;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
      cursor: pointer;
    }
    
    &-bg{
      background-color: $cAccent;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transform-origin: left;
      transform: scaleX(0);
      transition-duration: 500ms;
      transition-timing-function: ease-in-out;
      transition-property: transform;
      border-radius: 0.4rem;
      will-change: transform;
    }
    
    &:before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #fff;
      z-index: -1;
    }
  }
  
  #{ $self }__paragraph{
    padding: 0;
    margin: 0.8rem 0 0.8rem;
    font-size: 1.2rem;
    color: $cGray;
    font-weight: 300;
    line-height: 1.4;
  }
  
  &.opened{
    z-index: 1;
  }
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  background-color: salmon ;


  &  * {
    list-style: none;
    display: flex;
    margin-right: 1rem;
  }
}

.results{
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
}